.DS_Store
.*.swp
bin
src
lib
libs
frameworks
xcframeworks
include/openssl
*.gz
*.zip
*.framework
*.o
*.pbxuser
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
Pods
release.md
.build
.swiftpm